* {
  margin: 0;
  font-family: 'TitilliumWeb', Fallback, sans-serif;
}

body {
  
  -webkit-animation: fadein 0.5s ease-in; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 0.5s ease-in; /* Firefox < 16 */
      -ms-animation: fadein 0.5s ease-in; /* Internet Explorer */
       -o-animation: fadein 0.5s ease-in; /* Opera < 12.1 */
          animation: fadein 0.5s ease-in; 
}

.body_bg_img {
  padding: 0 10px;
  background: url("background/geometry.jpg");
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-attachment: fixed; /*safari*/
}

/* 
  color scheme: Simple and Fresh;
  site: https://www.canva.com/learn/website-color-schemes/
  matte: #414141;
  fresh: #ccdfcb;
  watermelon: #ff6a5c;
  teal: #056571;
*/

@font-face {
  font-family: 'NewFrench';
  src: url('font/newfrench.ttf');
}

@font-face {
  font-family: 'TitilliumWeb';
  src: url('font/TitilliumWeb/TitilliumWeb-Regular.ttf');
}

/* mobile first */
.grid {
  background: rgba(255, 255, 255, 0.80);
  display: grid;
  padding: 5px;
  grid-gap: 0px;
  grid-template-areas: 
  "header  header  header  header  header "
  "title   title   title   title   title  "
  "sidebar sidebar sidebar sidebar sidebar"
  "content content content content content"
  "footer  footer  footer  footer  footer "
  ;
}

.grid div {
  padding: 10px 10px 10px 10px;
  border-radius: 2px;
}

.title {
  grid-area: title;
  color: #000000;
  /*background-color: #ffffff;*/
  text-align: center;
  font-family: 'NewFrench', Fallback, sans-serif;
  font-size: 7vw;
  vertical-align: middle;
}

.header {
  grid-area: header;
  background-color: #cccccc; 
}

.sidebar {
  grid-area: sidebar;
  background-color: #cccccc;
  font-family: 'TitilliumWeb', Fallback, sans-serif;
}

.content {
  grid-area: content;
  min-height: 1000px;
  /*background-color: #eeeeee;*/
}

.footer {
  grid-area: footer;
  background-color: #333333;
  color: white;
  font-size: 0.7em;
}

/* desktop */
@media screen and (min-width: 736px)
{
  .grid {
    max-width: 1200px;
    margin: auto; /*keep everything centered*/
    /*align-self: center;*/
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
      ".      title   title   title   title   title   .       .       .       .      "
      ".      header  header  header  header  header  header  header  header  .      "
      ".      sidebar sidebar content content content content content content .      "
      ".      footer  footer  footer  footer  footer  footer  footer  footer  .      "
    ;
  }

  .grid div {
    padding: 20px 20px 20px 20px;
    border-radius: 3px;
  }

  .grid div:first-child {
    padding: 35px 20px 20px 20px;
  }

  .grid div:last-child {
    padding: 5px 10px 5px 10px;
    margin-bottom: 20px;
  }

  .title {
    text-align: left;
    font-size: 4vw; 
  }

  .content {
    min-height: 10000px;
  }
}

/* animations */

@keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}